<div style="display: flex; flex-direction: column; color: white; background-color: black;">
    <div style="flex: 2; display: flex; flex-direction: row; justify-content: space-around;">
        <div style="flex: 1; display: flex; flex-direction: column;">
            <div style="display: flex; justify-content: center;">Title 1</div>
            <div style="display: flex; justify-content: center;">item</div>
        </div>
        <div style="flex: 1; display: flex; flex-direction: column;">
            <div style="display: flex; justify-content: center;">Title 1</div>
            <div style="display: flex; justify-content: center;">item</div>
            <div style="display: flex; justify-content: center;">item</div>
            <div style="display: flex; justify-content: center;">item</div>
        </div>
        <div style="flex: 1; display: flex; flex-direction: column;">
            <div style="display: flex; justify-content: center;">Title 1</div>
            <div style="display: flex; justify-content: center;">item</div>
            <div style="display: flex; justify-content: center;">item</div>
            <div style="display: flex; justify-content: center;">item</div>
            <div style="display: flex; justify-content: center;">item</div>
        </div>
        <div style="flex: 1; display: flex; flex-direction: column;">
            <div style="display: flex; justify-content: center;">Title 1</div>
            <div style="display: flex; justify-content: center;">item</div>
            <div style="display: flex; justify-content: center;">item</div>
            <div style="display: flex; justify-content: center;">item</div>
            <div style="display: flex; justify-content: center;">item</div>
        </div>
    </div>
    <div style="flex: 1; display: flex; flex-direction: row; justify-content: space-around; align-items: center;">
        <div style="flex: 1;">
            column 1
        </div>
        <div style="flex: 2; display: flex; justify-content: flex-end;">
            <div style="display: flex;">
                <div>link 1</div>
                <div>link 2</div>
                <div>link 3</div>
                <div>link 4</div>
            </div>
            <div style="display: flex;">
                <div>social 1</div>
                <div>social 2</div>
                <div>social 3</div>
                <div>social 4</div>
            </div>
        </div>
    </div>
    <div style="flex: 1; display: flex; justify-content: center; align-items: center;">
        copyright
    </div>
</div>


<!-- <div class="footer-flex-column footer-container">
    <div class="footer-flex-row footer-container-1">
        <div class="footer-flex-column">
            <div class="footer-container-1-title">Title 1</div>
            <div class="footer-container-1-item">item</div>
        </div>
        <div class="footer-flex-column">
            <div class="footer-container-1-title">Title 1</div>
            <div class="footer-container-1-item">item</div>
            <div class="footer-container-1-item">item</div>
            <div class="footer-container-1-item">item</div>
        </div>
        <div class="footer-flex-column">
            <div class="footer-container-1-title">Title 1</div>
            <div class="footer-container-1-item">item</div>
            <div class="footer-container-1-item">item</div>
            <div class="footer-container-1-item">item</div>
            <div class="footer-container-1-item">item</div>
        </div>
        <div class="footer-flex-column">
            <div class="footer-container-1-title">Title 1</div>
            <div class="footer-container-1-item">item</div>
            <div class="footer-container-1-item">item</div>
            <div class="footer-container-1-item">item</div>
            <div class="footer-container-1-item">item</div>
        </div>
    </div>
    <div class="footer-flex-row footer-container-2">
        <div class="footer-container-2-col-1">
            column 1
        </div>
        <div class="footer-container-2-col-2">
            <div>
                <div>link 1</div>
                <div>link 2</div>
                <div>link 3</div>
                <div>link 4</div>
            </div>
            <div>
                <div>social 1</div>
                <div>social 2</div>
                <div>social 3</div>
                <div>social 4</div>
            </div>
        </div>
    </div>
    <div class="footer-container-3">
        copyright
    </div>
</div> -->