<body>
    <nav id="nav" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark bg-transparent" data-spy="affix">
        <a class="navbar-brand" href="#">
          <img class="logo_nav" src="/assets/img/logo_header_2_120x50.png" alt="Axcessiom Technologies">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navToggler" aria-controls="navToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navToggler">
          <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Products<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sign In</a>
            </li>
          </ul>
        </div>
    </nav>
    
    <section id="overlay-cover" class="overlay-cover">
        <div class="overlay-content row align-items-center">
            <div class="mb-3 bootstrap-animate text-left">
                <h3 class="mb-0 bootstrap-animate">You Create</h3>
                <h3 class="mb-0 bootstrap-animate">Your World,</h3>
                <h3 class="mb-0 bootstrap-animate">Blink By Blink.</h3>
                <h1 class="mt-3 display-4 bootstrap-animate"><a href="#">Learn How</a></h1>
            </div>
        </div>
    </section>
    
    <section id="overlay-bottom">
        <div class="container h-100">
            <p class="row h-100 justify-content-center align-items-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempus laoreet nisi, non pharetra massa. Phasellus sed tincidunt velit, eget accumsan dui. In faucibus ligula id eros sollicitudin elementum.</p>
        </div>
    </section>
</body>
